# Auto detect text files and perform LF normalization
* text=auto
* Moller-Trumbore-and-Brute-Force-Ray-Intersection-Projects/Moller-Trumbore Ray Intersection/Moller-Trumbore Ray Intersection/Dependencies/SDL2/* linguist-vendored
